@model IEnumerable<Ecart.Models.tblproduct>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HOME PAGE";
}
@Styles.Render("~/HomeContent/css/style.css")
@Scripts.Render("~/HomeContent/js/main.js")
@*<div id="preloder">
    <div class="loader"></div>
</div>*@
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> @Session["UserName"].ToString()</li>
                            @*<li>Free Shipping for all Order of $99</li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">

                    <div class="header__top__right__auth float-right">
                        @*<a href="#"><i class="fa fa-user"></i> Login</a>*@
                        <span class="float-right">

                            <buttonbtn class="btn btn-info btn-sm bi bi-cart-fill "> @Html.ActionLink("Cart", "Index", "Cart")</buttonbtn>
                            <buttonbtn class="btn btn-danger btn-sm bi bi-box-arrow-in-right ">@Html.ActionLink("logout", "Logout", "Account") </buttonbtn>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <span><img src="~/img/logo-removebg.png" style="height:130px; width:150px" /></span>
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Products</span>
                    </div>
                    <ul>
                        <li><a href="#">Fruit & Nuts</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Pulses</a></li>
                        <li><a href="#">Fresh Meat</a></li>


                        @*<li><a href="#">Sea Foods</a></li>*@

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">

                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text" style="scroll-padding-top:3px;">
                            <h5>+918301824696</h5>
                            <span>support 24/7 time</span>

                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" style=" background-image: url('~/img/banner.jpg'); width: 100%; ">
                    <!--<img class="hero__item set-bg" src="~/HomeContent/img/hero/banner.jpg" />-->

                    <div class="hero__text">
                        @*<span>FRUIT FRESH</span>*@
                        <img src="~/img/typologo.png" />
                        @*<h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>*@
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @*<div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="~/HomeContent/img/categories/cat-2.jpg">
                        <h5><a href="#">Fresh Fruit</a></h5>
                    </div>
                </div>*@
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/HomeContent/img/categories/cat-2.jpg">
                        <h5><a href="#">Dried Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/HomeContent/img/categories/cat-3.jpg">
                        <h5><a href="#">Vegetables</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/HomeContent/img/categories/cat-4.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/HomeContent/img/categories/cat-5.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Products</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        @foreach (var item in ViewBag.categoryid)
                        {
                            <li class="active" data-filter="*">@item.Text</li>
                        }

                        </ul>
                </div>
            </div>
        </div>
        
        <div class="row featured__filter">
            
            @foreach (var item in Model)
            {

                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/HomeContent/img/featured/feature-8.jpg">
                            <img src="@Html.DisplayFor(modelItem => item.imageurl)" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-retweet"></i></a></li>*@
                                <li><a href="@Url.Action("Addtocart","Cart" ,new { id = item.productid})"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6> @Html.DisplayFor(modelItem => item.productname)</h6>
                            <h5>₹@Html.DisplayFor(modelItem => item.price)/kg</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/HomeContent/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/HomeContent/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Blog Section End -->
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Ernakulam Kerala INDIA</li>
                        <li>Phone: +918301824696</li>
                        <li>Email: dailygrocery@mail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            Designed by Aswathy,Jithu & Anandu :)
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>

