<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="HOME PAGE">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    @Styles.Render("~/https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap")
    @Styles.Render("~/HomeContent/css/bootstrap.min.css")
    @Styles.Render("~/HomeContent/css/font-awesome.min.css")
    @Styles.Render("~/HomeContent/css/elegant-icons.css")
    @Styles.Render("~/HomeContent/css/nice-select.css")
    @Styles.Render("~/HomeContent/css/jquery-ui.min.css")
    @Styles.Render("~/HomeContent/css/owl.carousel.min.css")
    @Styles.Render("~/HomeContent/css/slicknav.min.css")
    @Styles.Render("~/HomeContent/css/style.css")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DAILY GROCERY</p>
        </footer>
    </div>

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    @Scripts.Render("~HomeContent/js/jquery-3.3.1.min.js")
    @Scripts.Render("~HomeContent/js/bootstrap.min.js")
    @Scripts.Render("~HomeContent/js/jquery.nice-select.min.js")
    @Scripts.Render("~HomeContent/js/jquery-ui.min.js")
    @Scripts.Render("~HomeContent/js/jquery.slicknav.js")
    @Scripts.Render("~HomeContent/js/mixitup.min.js")
    @Scripts.Render("~HomeContent/js/owl.carousel.min.js")
    @Scripts.Render("~HomeContent/js/main.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

