@model Ecart.Models.tblregistration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblregistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addressline1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressline1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addresslin2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addresslin2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbllogin.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbllogin.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.registrationid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
