@model IEnumerable<Ecart.Models.tblstockdetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<div class="product-status-wrap">
    <h4>Products List</h4>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                Product Name
                @*@Html.DisplayNameFor(model => model.tblproduct.productname)*@
            </th>
            <th>
                Available Quantity
                @*@Html.DisplayNameFor(model => model.availablequantity)*@
                
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblproduct.productname)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availablequantity)
                </td>
                <td>
                    <button class="btn btn-outline-info" data-toggle="tooltip" title="Edit">  @Html.ActionLink(" ", "Edit", new { id = item.stockid }, new { @class = "fa fa-pencil-square-o" })</button>
                    <button class="btn btn-outline-info" data-toggle="tooltip" title="Trash"> @Html.ActionLink(" ", "Delete", new { id = item.stockid }, new { @class = "fa fa-trash-o" })</button>
                    @*<buttonbtn class="btn btn-primary btn-sm bi bi-pencil-square">  @Html.ActionLink("Edit", "Edit", new { id = item.stockid }) </buttonbtn>
                    @Html.ActionLink("Details", "Details", new { id=item.stockid }) |
                    <buttonbtn class=" btn btn-danger btn-sm bi bi-x-circle-fill">@Html.ActionLink("Delete", "Delete", new { id = item.stockid }) </buttonbtn>
                </td>*@
            </tr>
        }

    </table>
    </div>